<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atlandes.admin.dao.ModuleMapper">

    <resultMap id="BaseResultMap" type="com.atlandes.admin.vo.ModuleVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="sort_id" property="sortId" jdbcType="INTEGER"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, remark, url, sort_id, is_valid, create_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from admin_module
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getModuleList" resultMap="BaseResultMap" parameterType="com.atlandes.admin.vo.ModuleQuery">
        select
        <include refid="Base_Column_List"/>
        from admin_module
        where is_valid = 1
        order by sort_id
        LIMIT #{pageCurCount}, #{pageSize}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM admin_module
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.atlandes.admin.vo.ModuleVO">
        INSERT INTO admin_module (id, name, remark, url,
        sort_id, is_valid, create_time)
        VALUES (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
        #{sortId,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.atlandes.admin.po.Module">
        insert into admin_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="sortId != null">
                sort_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="sortId != null">
                #{sortId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.atlandes.admin.po.Module">
        update admin_module
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=INTEGER},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.atlandes.admin.po.Module">
        UPDATE admin_module
        SET name = #{name,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        sort_id = #{sortId,jdbcType=INTEGER},
        is_valid = #{isValid,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="invalidByPrimaryKey" parameterType="java.lang.Integer">
        UPDATE admin_module
        SET is_valid = 0
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getModuleListCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM admin_module
        WHERE is_valid = 1
    </select>

</mapper>